html { background:white; color:#666; }

body {
  font:normal medium 'Calibri','Helvetica Neue','Arial',sans-serif;
  margin:100px auto 0 auto;
  width:40em;
  line-height:1.75;
  word-spacing:0.1em;
}

a { background:transparent; text-decoration:none; border-bottom:1px dotted; }
a.nolink { text-decoration:none; border-bottom:0 none; }
a:hover { border-bottom:1px solid; }
a:link { color:#1b67c9; }
a:visited { color:#335080; }
a[name] { text-decoration:none; border-bottom:0 none; }

h1, h2, h3, h4, h5 { font-weight:bold; color:#444; }
h1 { font-size:120%; }
h2 { font-size:110%; }
h3 { font-size:105%; }
h4 { font-size:100%; }
th { font-size:100%; }

tt, { font-family:'Courier New',monospace; white-space:pre-wrap; line-height:1; color:#336; font-size:90%; }

pre { display: block; margin: 2em 0; white-space: pre; overflow: auto; width: 800; border: 1px solid #ccc; background: #f0f0f7; padding: 3px; }
code { font-size: 120% }
img { border:0 none; }

table { border-collapse:collapse; }
td { border: 1px solid #eee; padding:0 10px; }
th { padding:0 10px; }

strong { font-weight:normal; color:#000; }

b { font-weight:normal; color:#000; }

table.noborder td { border:0; }

#nav { position:absolute; top:78px; left:5px; border:1px solid #fff; padding:10px; }
.menu { }
.menu, .menu ul { list-style:none; padding-left:30px; }
.menu a.currentLink { color:#933; }
.menu a { display:block; text-decoration:none; border:0; color:#aaa; }
#nav:hover { opacity:0.95; background:#f8f8f8; border:1px solid #ddd; -moz-border-radius:5px; }
#nav:hover a { color:#666; }
#nav:hover a:hover { color:#1b67c9; }

.hidden { display:none; }

#header { background:#336; position:absolute; top:0; left:0; width:100%; height:46px; font-weight:bold; font-size:160%; padding:2px 0px; }
#header a { color:white; border:0; padding-left:20px; }

#pagelinks { background:#447; position:absolute; top:50px; left:0; width:100%; height:24px; font-weight:normal; font-size:90%; padding:2px 0px; color:#888; }
#pagelinks a { color:#ccc; border:0; }
#pagelinks a.currentLink { color:#ddd; border:0; }

.navlinks { color:#aaa; float:right; padding-right:20px; }
.navlinks form { display:inline; }
.navlinks input { border:1px; }
.navlinks input[type=text] { width:100px; }

#breadcrumbs { padding-left:20px; }
